.container {
    @include foot-box($neon-deep-purple);
    width: 57.75%;
    margin-left: 22.25%;
    .footer {
        z-index: 2;
        margin-left: 25%;
        width: 75%;
        height: 35%;
        padding-top: 2%;
        top: 85%;
        .footnotes {
            h4 {
                @include listname($neon-purple);
            }
            ul {
                li {
                    a {
                        color: $cyber-glass;
                    }
                }
                list-style-type: none;
            }
        }
        .social-media {
            h4 {
                @include listname($neon-purple);
            }
            ul {
                margin-top: 10%;
                li {
                    margin-right: 5%;
                    display: inline;
                    list-style-type: none;
                }
            }
        }
    }
}

.container-g {
    margin: 0 auto;
    @include foot-box($neon-green-steel);
    .footer {
        z-index: 2;
        margin-left: 260px;
        width: 720px;
        height: 200px;
        padding-top: 10px;
        top: 810px;
        .footnotes-g {
            h4 {
                @include listname($neon-green);
            }
            ul {
                li {
                    a {
                        color: $cyber-glass;
                    }
                }
                list-style-type: none;
            }
        }
        .social-media-g {
            h4 {
                @include listname($neon-green);
            }
            ul {
                margin-top: 30px;
                li {
                    margin-right: 15px;
                    display: inline;
                    list-style-type: none;
                }
            }
        }
    }
}

.container-b {
    margin: 0 auto;
    @include foot-box($neon-aqua-lead);
    .footer {
        z-index: 2;
        margin-left: 260px;
        width: 720px;
        height: 200px;
        padding-top: 10px;
        top: 810px;
        .footnotes-b {
            h4 {
                @include listname($neon-aqua);
            }
            ul {
                li {
                    a {
                        color: $cyber-glass;
                    }
                }
                list-style-type: none;
            }
        }
        .social-media-b {
            h4 {
                @include listname($neon-aqua);
            }
            ul {
                margin-top: 30px;
                li {
                    margin-right: 15px;
                    display: inline;
                    list-style-type: none;
                }
            }
        }
    }
}

.container-s {
    margin: 0 auto;
    @include foot-box($cyber-tin);
    .footer {
        z-index: 2;
        margin-left: 260px;
        width: 720px;
        height: 200px;
        padding-top: 10px;
        top: 810px;
        .footnotes-s {
            h4 {
                @include listname($cyber-foil);
            }
            ul {
                li {
                    a {
                        color: $cyber-glass;
                    }
                }
                list-style-type: none;
            }
        }
        .social-media-s {
            h4 {
                @include listname($cyber-foil);
            }
            ul {
                margin-top: 30px;
                li {
                    margin-right: 15px;
                    display: inline;
                    list-style-type: none;
                }
            }
        }
    }
}

.copyright-bar {
    text-align: center;
    height: 15px;
    width: 960px;
    top: 1000px;
    margin: 0 auto;
}
