.container {
    z-index: 2;
    width: 960px;
    background: $neon-deep-purple;
    padding: 0px;
    .footer {
        z-index: 2;
        margin-left: 260px;
        width: 720px;
        height: 200px;
        padding-top: 10px;
        top: 810px;
        .footnotes {
            h4 {
                background: $neon-purple;
                padding-top: 5px;
                padding-bottom: 5px;
                text-align: center;
            }
            ul {
                li {
                    a {
                        color: $cyber-glass;
                    }
                }
                list-style-type: none;
            }
        }
        .social-media {
            h4 {
                background: $neon-purple;
                padding-top: 5px;
                padding-bottom: 5px;
                text-align: center;
            }
            ul {
                margin-top: 30px;
                li {
                    margin-right: 15px;
                    display: inline;
                    list-style-type: none;
                }
            }
        }
    }
}

.copyright-bar {
    text-align: center;
    height: 15px;
    width: 960px;
    top: 1000px;
    margin: 0 auto;
}
