* {
    box-sizing: border-box;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {
    font-size: 1rem;
    // background: radial-gradient(ellipse at center, $base 0, $darken 80%, $back 100%);
}

body {
    font: 300 13px/1.6 'Century Gothic';
    color: $cyber-glass;
    transition: all .4s .3s ease-in;
}

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin margin($margin) {
    margin-left: $margin;
    width: 720px;
}

@mixin font-size($font-size) {
    text-align: center;
    font-size: $font-size;
    color: $cyber-glass;
    line-height: 3.05rem;
    text-decoration: none;
}
