* {
    box-sizing: border-box;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {
    font-size: 1rem;
    // background: radial-gradient(ellipse at center, $base 0, $darken 80%, $back 100%);
}

body {
    font: 300 13px/1.6 'Century Gothic';
    color: $cyber-glass;
    transition: all .4s .3s ease-in;
}

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin margin($margin) {
    margin-left: $margin;
    width: 720px;
}

@mixin font-size($font-size) {
    text-align: center;
    font-size: $font-size;
    color: $cyber-glass;
    line-height: 3.05rem;
    text-decoration: none;
}

@mixin background($background) {
    z-index: 1;
    position: fixed;
    margin-top: 50px;
    margin-left: 15px;
    width: 240px;
    height: 100%;
    background: $background;
}

// Footer Mixins
@mixin foot-box($color) {
    z-index: 2;
    width: 960px;
    background: $color;
    padding: 0px;
}

@mixin listname($backdrop) {
    background: $backdrop;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

@mixin modsbackdrop($imagery) {
    margin: 2%;
    border: solid 2px;
    border-color: $cyber-tin;
    background-image: url($imagery);
}
