$cyber-steel: #0d0d0d;
$cyber-tin: #1a1a1a;
$cyber-iron: #262626;
$cyber-glass: #ffffff;
$cyber-foil: #999999;
// End of Greys
$neon-purple: #4A1448;
$neon-deep-purple: #250A24;
$neon-lavender: #662D91;
$neon-magenta-lite: #93278F;
// End of Purples
$neon-green-steel: #202813;
$neon-green-deep: #3F5025;
$neon-green: #5F7838;
$neon-green-lite: #7EA04A;
// End of Greens
$neon-aqua: #68C4E0;
$neon-aqua-deep: #4E93A8;
$neon-aqua-lite: #86D0E6;
$neon-aqua-lead: #346270;
// End of Blues
$cyber-sunset: #e68a00;
